@model IEnumerable<JobOffers.Web.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مرحبا بك عزيزي الزائر</h1>
    <p class="lead">مرحبا بك في موقع التوظيف الالكتروني يمكنك التقديم علي الوظائف  اينما كنت  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل </a></p>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding: 15px;">
    <h1> @Html.DisplayFor(modelItem => item.CategoryName)</h1>
    <h5> @Html.DisplayFor(modelItem => item.CategoryDescription)</h5>
   
    <div class="row">

    @foreach (var subItem in item.Jobs)
    {
        
        
            <div class="col-md-4 thumbnail" style="margin-left: 20px; margin-bottom: 20px; height: 380px;">
                <img src="~/Uploads/@subItem.JobImage"/>
                <h3>@Html.DisplayFor(modelItem=>subItem.JobTitle)</h3>
                <h5>@Html.DisplayFor(modelItem => subItem.JobDescription)</h5>
                
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">التفاصيل</a>
            </div>
                                                                 
    }
    </div> 

    </div>

}


